 body {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .app-container {
        max-width: 600px;
        margin: 0 auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
      }

      .loading-spinner {
        height: 40px;
        margin: -15px;
      }
      